<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Carrito | UTP Marketplace</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <header>
        <nav class="navbar">

            <div class="logo">
                <h2>UTP Marketplace</h2>
            </div>

            <ul class="menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a class="active" href="/carrito">Carrito</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>

        </nav>
    </header>

    <main>

        <section class="carrito">

            <h1 class="text-3xl font-bold">
                Carrito de compras
            </h1>

            <div class="carrito-contenido">

                <div class="lista-productos" id="lista-carrito">

                </div>

                <aside class="resumen-compra">

                    <h2 class="text-2xl font-bold mb-4">Resumen</h2>

                    <p>
                        Subtotal:
                        <strong id="subtotal">S/. 0</strong>
                    </p>

                    <p>
                        IGV:
                        <strong id="igv">S/. 0</strong>
                    </p>

                    <hr>

                    <p class="precio">
                        Total:
                        <strong id="total">S/. 0</strong>
                    </p>

                    <a href="#" class="boton w-full">
                        Finalizar compra
                    </a>
                    <button class="vaciar-carrito" onclick="vaciarCarrito()">
                        Vaciar carrito
                    </button>

                </aside>

            </div>

        </section>

    </main>

    <footer class="footer">
        <p>UTP Marketplace</p>
        <p>Hussein Pineda - 2026 All Rights Reserved</p>
    </footer>

    <script src="/js/carrito.js"></script>

</body>

</html>