<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Detalle del producto | UTP Marketplace</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <header>
        <nav class="navbar">

            <div class="logo">
                <h2>UTP Marketplace | Usuario</h2>
            </div>

            <ul class="menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/carrito">Carrito</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>

        </nav>
    </header>

    <main>

        <section class="detalle-producto" id="detalle-producto">

        </section>

        <section class="productos-relacionados">

            <h2 class="text-3xl font-bold">Productos relacionados</h2>

            <div class="productos-grid" id="productos-relacionados">

            </div>

        </section>

    </main>

    <footer class="footer">
        <p>UTP Marketplace</p>
        <p>Hussein Pineda - 2026 All Rights Reserved</p>
    </footer>

    <script src="/js/detalle.js"></script>

</body>

</html>