<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>UTP Marketplace</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/main.css">
</head>

<body>

    <header>

        <nav class="navbar">

            <div class="logo">
                <h2>UTP Marketplace</h2>
            </div>

            <ul class="menu">
                <li><a class="active" href="index.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="carrito.html">Carrito</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>

        </nav>

    </header>

    <main>

        <section class="hero">
            <div class="hero-texto">
                <h1>UTP Marketplace - Compra y venta de artículo para estudiantes de la UTP</h1>
                <p>
                    Encuentra libros, laptops, accesorios de estudio y más
                </p>
                <a href="productos.html" class="boton">
                    Ver productos
                </a>
            </div>

            <div class="hero-img">
                <img src="img/hero.jpg" alt="UTP Marketplace">
            </div>
        </section>

        <section class="categorias">
            <h2 class="text-3xl font-bold">Categorías</h2>
            <div class="categorias-grid">
                 <div class="categoria-card">
                    <img src="img/libros.jpg" alt="Libros">
                    <h3>Libros</h3>
                </div>

                <div class="categoria-card">
                    <img src="img/laptops.jpg" alt="Tecnología">
                    <h3>Tecnología</h3>
                </div>

                <div class="categoria-card">
                    <img src="img/calculadoras.jpg" alt="Calculadoras">
                    <h3>Calculadoras</h3>
                </div>

                <div class="categoria-card">
                    <img src="img/accesorios.jpg" alt="Accesorios">
                    <h3>Accesorios</h3>
                </div>
 
            </div>
        </section>

    <section class="productos-destacados">
        <h2 class="text-3xl font-bold">Productos destacados</h2>

        <div class="productos-grid" id="productos-destacados">
        </div>
    </section>

    <section class="productos-recientes">
        <h2 class="text-3xl font-bold">Productos recientes</h2>

        <div class="productos-grid" id="productos-recientes">
        </div>
    </section>

    </main>

    <footer class="footer">
        <p>
            UTP Marketplace
        </p>
        <p>
            Hussein Pineda - 2026 All Rights Reserved
        </p>
    </footer>

    <script src="js/productos.js"></script>
    <script src="js/inicio.js"></script>

</body>

</html>