.detalle-producto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: $padding-seccion;
    max-width: 1250px;
    margin: auto;
    align-items: center;
}

.producto-imagen{
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 100%;
        max-width: 550px;
        height: 420px;
        object-fit: contain;
        border-radius: $radio;
        box-shadow: $sombra;
        background-color: $blanco;
        transition: $transicion;

        &:hover{
            transform: scale(1.03);
        }
    }
}

.producto-info{
    display: flex;
    flex-direction: column;
    gap: 18px;

    h1{
        font-size: 36px;
        color: $negro;
    }

    .categoria{
        color: $gris-oscuro;
        font-weight: bold;
    }

    .vendedor{
        color: $gris-oscuro;
    }

    .precio{
        font-size: 32px;
        color: $rojo-utp;
        font-weight: bold;
    }

    .descripcion{
        line-height: 1.6;
        color: $gris-oscuro;
    }
}