.footer{
    background:$negro;
    color:$blanco;
    padding:35px;
    text-align:center;
    margin-top:70px;
    border-top:4px solid $rojo-utp;

    p{
        margin:8px;
        color:#dddddd;
    }
}