.login-body{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(135deg,#ececec,#ffffff);

}

.login-card{

    width:430px;

    background:$blanco;

    padding:45px;

    border-radius:16px;

    box-shadow:0 15px 40px rgba(0,0,0,.12);

    animation:aparecer .5s;

    h1{

        text-align:center;

        margin-bottom:10px;

        color:$negro;

    }

    p{

        text-align:center;

        color:$gris-oscuro;

        margin-bottom:35px;

    }

    form{

        display:flex;

        flex-direction:column;

        gap:18px;

    }

    input{

        padding:14px;

        border:1px solid #ccc;

        border-radius:$radio;

        transition:$transicion;

        font-size:15px;

        &:focus{

            outline:none;

            border-color:$rojo-utp;

            box-shadow:0 0 8px rgba(215,25,32,.2);

        }

    }

    .boton{

        margin-top:10px;

    }

}